<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Add Order</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="margin-top: 50px;">
        <div class="card"> 
            <div class="card-header">
                Add Order
            </div>
            <div class="card-body">
                <form action="/apiOrders/add" method="post">
                    <div class="form-group">
                        <label>Member:</label>
                        <input type="text" class="form-control" name="member" value="<%= member %>" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Product:</label>
                        <input type="text" class="form-control" name="product" value="<%= product %>" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label>Area:</label>
                        <input type="text" class="form-control" name="area" value="<%= area %>" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-info" value="Add"/>
                    </div>
                </form>
            </div>
    </div>

</body>
</html>